
.btn-cancel:hover {
    background-color: #ab2532 !important;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-style {
    width: 150px !important;
    text-align: center;
}

.category-icon { 
    margin-right: 5px !important;
}


.form-control-modal {
    border-color: black !important;
    padding: 6px;
    width: 100% !important;
}

.icon-option {
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.1em !important;
}

.habits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.habit-item {
    background-color: #f8f9fa;
    border: 1px solid #5F0293;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.267);
    transition: all 0.3s ease;
}

.habit-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.habit-item h5 {
    font-family: "Anta", sans-serif;
    margin-top: 0;
    color: #333;
}

.habit-item p {
    color: #666;
}

.mis-habitos {
    color: #5F0293;
    font-family: "Anta", sans-serif;
    text-align: center;
}

.modal-body.delete {
    font-family: "Anta", sans-serif;
    text-align: center;
}

.modal-header.titulo {
    color: #5F0293;
    justify-content: center;
    font-family: "Anta", sans-serif;
}

.ph-plus{
    font-size: 14px;
    font-weight:bolder;
    margin-right: 5px;
}

.ph-trash {
    color: #dc3545;
}

.ph-pencil-simple-line { 
    color: #8500CF;
}

.welcome {
    color: #5F0293;
    font-family: "Anta", sans-serif;
}


