{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->
{% include 'navbar.html' %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/auth_base.css' %}">

<div class="body-content">

    <div class="row">

        <div class="col-md-10">
            <h1 class="welcome">¡ Bienvenido {{ username }} !</h1>
        </div>
        
        <div class="col-md">
            <button class="btn btn-style" data-bs-toggle="modal" data-bs-target="#habitModal" data-action="add">
                <i class="ph ph-plus"></i>Nuevo hábito
            </button>
        </div>
    </div>

    <br>

    <div class="row">
        <h3 class="mis-habitos">Mis hábitos</h3>
    </div>

    <br>

    <div class="habits-container">
        {% for habit in habits %}
            <div class="habit-item" data-habit-id="{{ habit.id }}" data-repetitions="{{ habit.repetitions }}">
                <div class="row">
                    <div class="col-md-10">
                        <h5>{{ habit.name }}</h5>
                    </div>
                    <div class="col-md">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#habitModal" data-action="edit" data-habit-id="{{ habit.id }}" title="Editar hábito" class="icon-option">
                            <i class="ph ph-pencil-simple-line"></i>
                        </a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteHabit" data-habit-id="{{ habit.id }}" title="Eliminar hábito" class="icon-option">
                            <i class="ph ph-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>{{ habit.frequency }} - {{ habit.repetitions }} repeticiones</p>
                    </div>
                    <div class="col-md" style="text-align: end;">
                        {% if habit.category.name == 'Escuela' %}
                            <span style="color: blue;">
                                <i class="ph ph-graduation-cap category-icon"></i>{{ habit.category.name }}
                            </span>   
                        {% elif habit.category.name == 'Trabajo' %}
                            <span style="color:deeppink;">
                                <i class="ph ph-briefcase category-icon"></i>{{ habit.category.name }}
                            </span>
                        {% elif habit.category.name == 'Hogar' %}
                            <span style="color:darkorange;">
                                <i class="ph ph-house category-icon"></i>{{ habit.category.name }}
                            </span>
                        {% elif habit.category.name == 'Salud' %}
                            <span style="color:rgb(9, 192, 122);">
                                <i class="ph ph-heart category-icon"></i>{{ habit.category.name }}
                            </span>
                        {% elif habit.category.name == 'Hobby' %}
                            <span style="color: #8500CF;">
                                <i class="ph ph-game-controller category-icon"></i>{{ habit.category.name }}
                            </span>
                        {% elif habit.category.name == 'Otros' %}
                            <span style="color:olive;">
                                <i class="ph ph-sparkle category-icon"></i>{{ habit.category.name }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="progress" style="height: 20px; margin-top: 10px;">
                    <div class="progress-bar" role="progressbar" 
                         style="width: {{ habit.get_progress_percentage }}%; background-color: #FFE600; color: black;" 
                         aria-valuenow="{{ habit.current_progress }}" aria-valuemin="0" aria-valuemax="{{ habit.repetitions }}">
                        {{ habit.current_progress }}/{{ habit.repetitions }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Modal Create and Edit Habits-->
    <div class="modal fade" id="habitModal" tabindex="-1" aria-labelledby="habitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header titulo">
                    <h3 class="modal-title titulo" id="habitModalLabel">Hábito</h3>
                </div>
                <div class="modal-body" id="modalBody"></div>
            </div>
        </div>
    </div>

    <!-- Modal Delete Habit-->
    <div class="modal fade" id="deleteHabit" tabindex="-1" role="dialog" aria-labelledby="deleteHabitLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h4 class="modal-body delete">
            ¿Estás seguro que deseas eliminar este hábito?
            </h4>
            <div class="modal-footer">
                <form method="POST" id="deleteHabitForm" action="">
                    {% csrf_token %}
                    <button type="button" class="btn btn-style btn-cancel" style="background-color: #dc3545" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-style">Eliminar</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.getElementById('habitModal');
        const modalBody = document.getElementById('modalBody');
    
        modal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const action = button.getAttribute('data-action');
            const habitId = button.getAttribute('data-habit-id');
            
            let url = action === 'add' ? "{% url 'add_habit' %}" : `/habit/edit/${habitId}/`;
            
            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                modalBody.innerHTML = data.html;
                setupForm(url);
            });
    
            modal.querySelector('.modal-title').textContent = action === 'add' ? 'Nuevo Hábito' : 'Editar Hábito';
        });
    
        function setupForm(url) {
            const form = modalBody.querySelector('form');
            form.action = url;
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.reload();
                    } else {
                        modalBody.innerHTML = data.html;
                        setupForm(url);
                    }
                });
            });
        }

        // Nueva funcionalidad para la barra de progreso
        const habitItems = document.querySelectorAll('.habit-item');
        
        habitItems.forEach(item => {
            item.addEventListener('click', function(event) {
                // Evitar que el clic se propague a los botones de editar y eliminar
                if (event.target.closest('.icon-option')) return;

                const habitId = this.getAttribute('data-habit-id');
                fetch(`/habit/increment-progress/${habitId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    const progressBar = this.querySelector('.progress-bar');
                    progressBar.style.width = `${data.progress_percentage}%`;
                    progressBar.setAttribute('aria-valuenow', data.current_progress);
                    progressBar.textContent = `${data.current_progress}/${data.repetitions}`;
                });
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var deleteHabitModal = document.getElementById('deleteHabit');

        deleteHabitModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var habitId = button.getAttribute('data-habit-id'); 
            
            var form = document.getElementById('deleteHabitForm');
            form.action = '/habit/delete/' + habitId + '/'; 
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var deleteHabitModal = new bootstrap.Modal(document.getElementById('deleteHabit'), {
            backdrop: 'static',
            keyboard: false      
        });

        var habitModal = new bootstrap.Modal(document.getElementById('habitModal'), {
            backdrop: 'static',
            keyboard: false      
        });
    });
</script>

{% endblock %}


