{% extends 'auth_base.html' %}

{% block auth_title %}Ingresar{% endblock %}

{% block auth_message %}
    ¿No tienes una cuenta?<a href="{% url 'register' %}" class="btn" style="color: #5F0293; border: none;"> Registrate aquí</a>
{% endblock %}

{% block form_fields %}
    <div class="mb-4 form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <div class="text-danger">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-5 form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.password.errors %}
            <div class="text-danger">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="container">
        <button type="submit" class="btn btn-style">Iniciar Sesión</button>
    </div>
{% endblock %}
