{% load static %}

<nav class="navbar navbar-expand-lg navDaily">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var notifyDropdown = document.getElementById('notificacionesDropdown');
            if (notifyDropdown) {
                notifyDropdown.addEventListener('show.bs.dropdown', async function() {
                    try {
                        const res = await fetch("{% url 'marcar_notificaciones_leidas' %}", {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',  // Incluir el CSRF token si es necesario
                                'Content-Type': 'application/json'
                            },
                            credentials: 'same-origin'
                        })
                       const data = await res.json();
                        if (data.status === 'ok') {
                            console.log('Notificaciones marcadas como leídas.');
                        } else {
                            console.error('Error en la respuesta:', data.message);
                        }
                    } catch(e) {
                        console.error('Error en la solicitud AJAX:', e)
                    }
                });
            }
        });
    </script>
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/logoNavbar.png'%}" width="250" height="70" alt="logoNavbar">
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Estadísticas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="notificacionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-bell"></i>
                    {% if notificaciones_no_leidas > 0 %}
                       <span class="badge bg-danger">{{ notificaciones_no_leidas }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificacionesDropdown">
                    {% if notificaciones %}
                        {% for notificacion in notificaciones %}
                            <li><a class="dropdown-item" href="#">{{ notificacion.mensaje }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a class="dropdown-item" href="#">No tienes notificaciones</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item dropdown profile">
                <a class="" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'img/user.png' %}" width="50" height="50" class="rounded-circle" alt="User Profile">
                </a>
                <ul class="dropdown-menu dropdown-menu-end menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item item" href="{% url 'configurar_notificaciones' %}">Configurar Notificacines<i class="ph"></i></a></li>
                    <li><a class="dropdown-item item" href="{% url 'logout' %}">Cerrar Sesión <i class="ph ph-sign-out logout-icon"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>