{% extends 'auth_base.html' %}

{% block auth_title %}Registro{% endblock %}

{% block auth_message %}
    ¿Ya tienes una cuenta?<a href="{% url 'login' %}" class="btn" style="color: #5F0293; border: none;"> Inicia sesión aquí</a>
{% endblock %}

{% block form_fields %}

    <div class="mb-2 row">
        <div class="col-md-2"></div>
        <div class="col-md form-group">
            <label for="{{ form.first_name.id_for_label }}" class="form-label form-control-modal" style="color: #5F0293;">{{ form.first_name.label }}</label>
            <div class="col-md">
                {{ form.first_name }}
            </div>
            {% if form.first_name.errors %}
                <div class="invalid-feedback">
                    {{ form.first_name.errors|join:", " }}
                </div>
            {% endif %}
        </div>
        <div class="col-md form-group">
            <label for="{{ form.last_name.id_for_label }}" class="form-label form-control-modal" style="color: #5F0293;">{{ form.last_name.label }}</label>
            <div class="col-md">
                {{ form.last_name }}
            </div>
            {% if form.last_name.errors %}
                <div class="invalid-feedback">
                    {{ form.last_name.errors|join:", " }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="mb-4 form-group">
        <label for="{{ form.username.id_for_label }}" class="form-label form-control-modal" style="color: #5F0293;">{{ form.username.label }}</label>
        <div class="col-md">
            {{ form.username }}
        </div>
        {% if form.username.errors %}
            <div class="invalid-feedback">
                {{ form.username.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="mb-4 form-group">
        <label for="{{ form.email.id_for_label }}" class="form-label form-control-modal" style="color: #5F0293;">{{ form.email.label }}</label>
        <div class="col-md">
            {{ form.email }}
        </div>
        {% if form.email.errors %}
            <div class="invalid-feedback">
                {{ form.email.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="mb-5 form-group">
        <label for="{{ form.password.id_for_label }}" class="form-label form-control-modal" style="color: #5F0293;">{{ form.password.label }}</label>
        <div class="col-md">
            {{ form.password }}
        </div>
        {% if form.password.errors %}
            <div class="invalid-feedback">
                {{ form.password.errors|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="container">
        <button type="submit" class="btn btn-style">Registrarse</button>
    </div>

{% endblock %}



