{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5">
    <h2 class="text-center">Estadísticas</h2>

    <!-- Formulario para filtrar por fecha y categoría -->
    <form method="GET" class="row mb-4">
        <div class="col-md-4">
            <label for="fecha_inicio">Fecha Inicio:</label>
            <input type="date" name="fecha_inicio" class="form-control" id="fecha_inicio">
        </div>
        <div class="col-md-4">
            <label for="fecha_fin">Fecha Fin:</label>
            <input type="date" name="fecha_fin" class="form-control" id="fecha_fin">
        </div>
        <div class="col-md-4">
            <label for="categorias">Categorías:</label>
            <select name="categoria" class="form-control" id="categoria">
                <!-- Mostrar dinámicamente las categorías -->
                {% for c in categories %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </form>
    

    <div style="width: 300px; height: 300px">
    <canvas id="totalCategorias" width="400" height="200"></canvas>
    </div>
    <div style="width: 300px; height: 300px"> 
    <canvas id="totalByDate" width="400" height="200"></canvas>
    </div>
    <div style="width: 300px; height: 300px"> 
    <canvas id="points" width="400" height="200"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const categoriesAll      = {{ habits |safe}}
    const categoriesName     = Object.keys(categoriesAll);
    const total              = Object.values(categoriesAll);
    const totalSum           = total.reduce((a, b) => a+b)
    const ctxTotalCategorias = document.getElementById('totalCategorias').getContext('2d');
    const ctxTotalByDate     = document.getElementById('totalByDate').getContext('2d');
    const ctxPoints          = document.getElementById('points').getContext('2d');

    new Chart(ctxTotalCategorias, {
        type: 'doughnut',
        data: {
            labels: categoriesName,
            datasets: [{
                data: total,
                backgroundColor: ['#FF5733', '#C70039', '#C70039', ' #581845', '#FFC300'],
                borderColor: ' #DAF7A6',
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Categorias más creadas'
                  },
                tooltip: {
                    callbacks: {
                        label: function(args) {
                            console.log(args.raw / total.length)
                            return `${(Math.floor((args.raw / totalSum)*100))}% del total`;
                        }
                    }
                }
            }
        }
    });

    new Chart(ctxTotalByDate, {
        type: 'bar',
        data: {
            labels: categoriesName,
            datasets: [{
                label: "Habitos",
                data: total,
                backgroundColor: ['#FF5733', '#C70039', '#C70039', ' #581845', '#FFC300'],
                borderColor: '#DAF7A6',
                borderWidth: 1
            }]
        },
        options: {
           scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Categorias más creadas'
                  },
                tooltip: {
                    callbacks: {
                        label: function(args) {
                            return `${(Math.floor((args.raw / totalSum)*100))}% del total`;
                        }
                    }
                }
            }
        }
    });

    new Chart(ctxPoints, {
        type: 'line',
        data: {
            labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6'],
            datasets: [
              {
                label: 'Dataset',
                data: [0, 10, -10, 4, 4, 50],
                borderColor:'#DAF7A6',
                backgroundColor: ['#FF5733', '#C70039', '#C70039', ' #581845', '#FFC300'],
                pointStyle: 'circle',
                pointRadius: 10,
                pointHoverRadius: 15
              }
            ]
          },
        options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: (ctx) => 'Example: ' + ctx.chart.data.datasets[0].pointStyle,
            }
          }
        }
      });

</script>

{% endblock %}