{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5">
    <h2 class="text-center">Estadísticas</h2>

    <!-- Formulario para filtrar por fecha y categoría -->
    <form method="GET" class="row mb-4">
        <div class="col-md-4">
            <label for="fecha_inicio">Fecha Inicio:</label>
            <input type="date" name="fecha_inicio" class="form-control" id="fecha_inicio">
        </div>
        <div class="col-md-4">
            <label for="fecha_fin">Fecha Fin:</label>
            <input type="date" name="fecha_fin" class="form-control" id="fecha_fin">
        </div>
        <div class="col-md-4">
            <label for="categorias">Categorías:</label>
            <select name="categorias" class="form-control" id="categorias" multiple>
                <!-- Mostrar dinámicamente las categorías -->
                {% for habits in todas_categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </form>
    

    <canvas id="totalCategorias" width="400" height="200"></canvas>
    <canvas id="totalByDate" width="400" height="200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const categorias = Object.keys({{ habits|safe }});
    const total      = Object.values({{ habits|safe }});
    const totalSum   = total.reduce((a, b) => a+b)
    const ctxTotalCategorias        = document.getElementById('totalCategorias').getContext('2d');
    const ctxTotalByDate       = document.getElementById('totalByDate').getContext('2d');

    new Chart(ctxTotalCategorias, {
        type: 'doughnut',
        data: {
            labels: categorias,
            datasets: [{
                data: total,
                backgroundColor: ['#FF5733', '#C70039', '#C70039', ' #581845', '#FFC300'],
                borderColor: ' #DAF7A6',
                borderWidth: 1
            }]
        },
        options: {
            {% comment %} scales: {
                y: {
                    beginAtZero: true
                }
            }, {% endcomment %}
            plugins: {
                title: {
                    display: true,
                    text: 'Categorias más creadas'
                  },
                tooltip: {
                    callbacks: {
                        label: function(args) {
                            console.log(args.raw / total.length)
                            return `${(Math.floor((args.raw / totalSum)*100))}% del total`;
                        }
                    }
                }
            }
        }
    });

    new Chart(ctxTotalByDate, {
        type: 'bar',
        data: {
            labels: categorias,
            datasets: [{
                data: total,
                backgroundColor: ['#FF5733', '#C70039', '#C70039', ' #581845', '#FFC300'],
                borderColor: ' #DAF7A6',
                borderWidth: 1
            }]
        },
        options: {
           scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Categorias más creadas'
                  },
                tooltip: {
                    callbacks: {
                        label: function(args) {
                            console.log(args.raw / total.length)
                            return `${(Math.floor((args.raw / totalSum)*100))}% del total`;
                        }
                    }
                }
            }
        }
    });

</script>

{% endblock %}